body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:2vh;
    
}

.context h1{
    /* text-align: center; */
    color: #fff;
    font-size: 50px;
}


.area{
    background: #8286e3;  
    background: -webkit-linear-gradient(to left, #767bd2, #4e54c8);  
    width: 100%;
    max-height: max-content ;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
.header-bg{
    background-color: #02133d;
    width: 100%;
    padding: 1rem;
    color: #ffff;
}
.app-container{
    width: 100vw;
    height:auto;
    background-color: #ebf1eb;
    /* box-shadow: 12px 2px 15px 11px rgb(154, 154, 157); */
    /* border-radius: 22px; */
}
.htm-element{
    height: 50px;
}
.left-right-panel{
    height: 100vh;
    background-color: #9c9b9b;
}

.empty-list-text-container{
    padding: 8rem;
    border: 1px solid rgb(54, 86, 243);
    opacity: 0.5;
    border-radius: 18px;
    font-weight: 900;
    
}
.task-container{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: start;
    overflow-y: scroll;
    border: 1px solid rgb(0, 42, 252);
    border-radius: 18px;
    padding: 1em;
    /* margin-top: 10em; */
    font-weight: 900;
}
.timestamp-container{
    font-size: 8px;
    padding:10px ;
    border-radius: 10px;
    color: #09090b;
    margin-top: 0.4rem;
    border: 1px solid #0d3087;
}
.profile-container{
    background-image: url('../public/images/user-image.png');
    background-color:rgba(73, 69, 69, 0.2);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
  
}
